* {
    margin: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    height: 75px;
    color: white;
    font-family: Helvetica;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 35px;
}